<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <%- include("partials/navbar", { isAuthenticated: true, isMember: isMember, isAdmin: isAdmin }) %>
    <div class="flex flex-col gap-4 p-8">
      <h1>Posts</h1> 
      <a href="/posts/create">Create a post</a>
      <ul class="flex flex-col gap-4">
        <% if(posts.length > 0) { %>
          <% posts.forEach((post) => { %>
            <li class="flex gap-2 justify-between items-center p-4 rounded border">
              <div class="flex flex-col gap-2">
                <span><strong>Title:</strong> <%= post.title %></span>
                <% if(isMember) { %>
                  <span><strong>Author:</strong> <%= post.author %></span>
                <% } %>
                <span><strong>Post:</strong> <%= post.text %></span>
                <% if(isMember) { %>
                  <span><strong>Posted At:</strong> <%= post.date %></span>
                <% } %>
              </div>
              <% if(isAdmin) { %>
                <form action="/posts/<%= post.id %>/delete" method="post">
                  <button class="btn btn-alert">Delete</button>
                </form>
              <% } %>
            </li>
          <% }) %>
        <% } else { %>
          <h1>No posts</h1>
        <% } %>
      </ul>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
